# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources in the README.md file
- Happy learning!

In [76]:
import numpy as np
import pandas as pd

# Challenge 1 - Iterators, Generators and `yield`. 

In iterator in Python is an object that represents a stream of data. However, iterators contain a countable number of values. We traverse through the iterator and return one value at a time. All iterators support a `next` function that allows us to traverse through the iterator. We can create an iterator using the `iter` function that comes with the base package of Python. Below is an example of an iterator.

In [77]:
# We first define our iterator:

iterator = iter([1,2,3])

# We can now iterate through the object using the next function

print(next(iterator))

1

In [78]:
# We continue to iterate through the iterator.

print(next(iterator))

2

In [79]:
print(next(iterator))

3

In [80]:
# After we have iterated through all elements, we will get a StopIteration Error

print(next(iterator))

StopIteration:

In [81]:
# We can also iterate through an iterator using a for loop like this:
# Note: we cannot go back directly in an iterator once we have traversed through the elements. 
# This is why we are redefining the iterator below

iterator = iter([1,2,3])

for i in iterator:
    print(i)

1
2
3

In the cell below, write a function that takes an iterator and returns the first element in the iterator that is divisible by 2. Assume that all iterators contain only numeric data. If we have not found a single element that is divisible by 2, return zero.

In [82]:
def divisible2b(iterator):
    for x in iterator:
        if x%2==0:
            return x
        #return 0

def divisible2c(iterator):
    for i in iterator:
        if i%2 == 0:
            return i
   
print(divisible2c(iter([1,2,4])))
print(divisible2b(iter([1,2,4])))

#DUDA PARA CLASE: Por qué si le doy un valor a "x" no se puede hacer la iteración?
#x= 2
#print(divisible2b(x))

2
2

### Generators

It is quite difficult to create your own iterator since you would have to implement a `next` function. Generators are functions that enable us to create iterators. The difference between a function and a generator is that instead of using `return`, we use `yield`. For example, below we have a function that returns an iterator containing the numbers 0 through n:

In [83]:
def firstn(n):
    number = 0
    while number < n:
        yield number
        number = number + 1

If we pass 5 to the function, we will see that we have a iterator containing the numbers 0 through 4.

In [84]:
iterator = firstn(5)

for i in iterator:
    print(i)

0
1
2
3
4

In the cell below, create a generator that takes a number and returns an iterator containing all even numbers between 0 and the number you passed to the generator.

In [85]:
def even_iterator(n):
    # This function produces an iterator containing all even numbers between 0 and n
    # Input: integer
    # Output: iterator
    
    # Sample Input: 5
    # Sample Output: iter([0, 2, 4])
    
    # Your code here:
    a = 0 #es el primer número impar en cualquier serie positiva de número
    while a < n:
        if a % 2 == 0:
            yield a
        a = a + 1

iterator = even_iterator(100)
for i in iterator:
    print(i)
            

#Esto se puede resolver con un for también, aunue hay que cambiar los valores de range
num_list = list(range(0,100))
odd_numb = []
for n in num_list:
    if n % 2 == 0:
        odd_numb.append(n)
print(odd_numb)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]

# Challenge 2 - Applying Functions to DataFrames

In this challenge, we will look at how to transform cells or entire columns at once.

First, let's load a dataset. We will download the famous Iris classification dataset in the cell below.

In [86]:
columns = ['sepal_length', 'sepal_width', 'petal_length','petal_width','iris_type']
iris = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data", names=columns)

Let's look at the dataset using the `head` function.

In [87]:
# Your code here:
iris.head()

   sepal_length  sepal_width  petal_length  petal_width    iris_type
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

Let's start off by using built-in functions. Try to apply the numpy mean function and describe what happens in the comments of the code.

In [88]:
# Your code here:
import statistics
import numpy as numpy

np.mean(iris)

#La función media no funciona para la última variable "iris_type" porque no es una variable numérica, sino catégorica

sepal_length    5.843333
sepal_width     3.054000
petal_length    3.758667
petal_width     1.198667
dtype: float64

Next, we'll apply the standard deviation function in numpy (`np.std`). Describe what happened in the comments.

In [89]:
# Your code here:

np.std(iris)

#Al igual que con la media, no hay desviación estándar para la última variable porque no es numérica

sepal_length    0.825301
sepal_width     0.432147
petal_length    1.758529
petal_width     0.760613
dtype: float64

The measurements are in centimeters. Let's convert them all to inches. First, we will create a dataframe that contains only the numeric columns. Assign this new dataframe to `iris_numeric`.

In [90]:
# Your code here:
import pandas as pd
iris_numeric = iris.drop(["iris_type"], axis=1)
iris_numeric.head()

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

Next, we will write a function that converts centimeters to inches in the cell below. Recall that 1cm = 0.393701in.

In [91]:
def cm_to_in(x):
    # This function takes in a numeric value in centimeters and converts it to inches
    # Input: numeric value
    # Output: float
    
    # Sample Input: 1.0
    # Sample Output: 0.393701
    
    # Your code here:
    cm = x
    return cm * 0.39370
    
print(cm_to_in(10))

3.937

Now convert all columns in `iris_numeric` to inches in the cell below. We like to think of functional transformations as immutable. Therefore, save the transformed data in a dataframe called `iris_inch`.

In [92]:
# Your code here:

iris_inch = iris_numeric.apply(cm_to_in)    #nuevo df = old_df.apply(function)
iris_inch.head()

   sepal_length  sepal_width  petal_length  petal_width
0       2.00787      1.37795       0.55118      0.07874
1       1.92913      1.18110       0.55118      0.07874
2       1.85039      1.25984       0.51181      0.07874
3       1.81102      1.22047       0.59055      0.07874
4       1.96850      1.41732       0.55118      0.07874

We have just found that the original measurements were off by a constant. Define the global constant `error` and set it to 2. Write a function that uses the global constant and adds it to each cell in the dataframe. Apply this function to `iris_numeric` and save the result in `iris_constant`.

In [93]:
# Define constant below:
error = 2

def add_constant(x):
    # This function adds a global constant to our input.
    # Input: numeric value
    # Output: numeric value
    
    # Your code here:
    global error
    return x + error

iris_constant = add_constant(iris_numeric)   
iris_constant.head()

##PREGUNTA PARA CLASE. POR QUÉ PARA TRANSFORMAR DF DE CM A INCHES SE TIENE QUE PONER iris_inch = iris_numeric.apply(cm_to_in)
##mientras que para agregar + 2 sólo se tiene que poner iris_constant = add_constant(iris_numeric)

   sepal_length  sepal_width  petal_length  petal_width
0           7.1          5.5           3.4          2.2
1           6.9          5.0           3.4          2.2
2           6.7          5.2           3.3          2.2
3           6.6          5.1           3.5          2.2
4           7.0          5.6           3.4          2.2

# Bonus Challenge - Applying Functions to Columns

Read more about applying functions to either rows or columns [here](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.apply.html) and write a function that computes the maximum value for each row of `iris_numeric`

In [94]:
# Your code here:
def valmax2(df):
    df.apply(np.max, axis=1)
    return df.max()

def valmax(df):  #se pone df porque se espera un dataframe, no x porque no es un valor que cambia
    return df.apply(np.max, axis=1)

valoresMaximos= valmax(iris_numeric)
valoresMaximos.head()

#valoresMaximos2= valmax2(iris_numeric)
#valoresMaximos2.head()

#Pregunta de clase: por qué el de arriba no corre y el de abajo sí? es exactamente lo mismo

0    5.1
1    4.9
2    4.7
3    4.6
4    5.0
dtype: float64

Compute the combined lengths for each row and the combined widths for each row using a function. Assign these values to new columns `total_length` and `total_width`.

In [25]:
# Your code here: